.about-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #ddd;
}

.container .jumbotron{
    margin-top:10px;margin-bottom:0px
}

.animate-all {
    transition: all 0.25s ease-in-out;
}

.table-input{
    border-radius: 0;
    text-align: center;
}

html {
    scroll-behavior: smooth;
  }

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}